.adminDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 88vh;
    width: 100vw;
    color: rgb(255, 254, 254);

    background-color:  rgb(121, 11, 75);
}

.titulo{
    background-color: rgb(6, 6, 6);
    border-radius: 2%;
    width: 40vw;
    display: flex;
    justify-content: center;
}