.adminDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 88vh;
    width: 100vw;
    color: rgb(141, 12, 12);

    background-color:  rgb(217, 145, 142);
}