.homeDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 108vh;
    width: 100vw;
    background-color: rgb(121, 11, 75);
    font-size: large;
    font-weight: bolder;
    color:rgb(255, 255, 255);
}

.rosterDesign {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    width: 90vw;
    flex-direction: row-reverse;
    align-content: flex-start
}

.loadingGif {
    height: 10em;
}