.cardSerieDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 14em;
    width: 9em;

    background-color: rgb(13, 13, 13);
    color: white;
    border-radius: 1em;
    border-color: black;
    border-width: 2px;

    margin: 0.5em;
}

.posterDesign {
    height: 13em;
    width: 9em;
    border-radius: 1em;
}