.loginDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 88vh;
    width: 100vw;
    background-color: rgb(121, 11, 75);
    color: rgb(255, 255, 255)
}

.loginButtonDesign {
    height: 2em;
    width: 10em;
    background-color: rgb(4, 3, 4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    transition: 0.3s;
}

.loginButtonDesign:hover {
    transition: 0.3s;
    background-color: rgb(6, 0, 3);
}

.errorText {
    color: rgb(255, 255, 255);
}