
.profileDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    font-size: 20px;
    background-color: rgb(121, 11, 75);
    color: rgb(255, 255, 255)
}

.modifyButtonDesign {
    height: 2em;
    width: 10em;
    background-color: rgb(6, 6, 6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    transition: 0.3s;
    margin-top: 5px;
}

.modifyButtonDesign:hover {
    transition: 0.3s;
    background-color: rgb(8, 8, 8);
}

.deleteButtonDesign {
    height: 2em;
    width: 10em;
    background-color: rgb(11, 10, 10);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-radius: 2em;
    transition: 0.3s;
    margin-top: 5px;
}

.deleteButtonDesign:hover {
    transition: 0.3s;
    background-color: rgb(6, 6, 6);
}

.welcomeDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 30vw;
    height: 10vh;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-bottom: 2px;
    border-radius: 1%;
}

.okDesign {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 58vh;
    width: 100vw;
    flex-direction: column;
}

.titulo{
    background-color: rgb(6, 6, 6);
    border-radius: 2%;
    width: 25vw;
}

.Table {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    background-color: rgb(180, 72, 162);
}

